.mainContainer {
  width: 100%;
  max-width: 1420px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  h1 {
    font-size: 36px;
    margin-top: 72px;
    margin-bottom: 37px;
  }
}

.bannerContainer {
  width: 100%;
  margin: 0 auto;
  padding-top: 28px;
  box-sizing: border-box;
}

.bannerImage {
  width: 100%;
  height: auto;
}

.bannerContainer img {
  width: 100%;
  height: auto;
}

.line {
  height: 1px;
  width: 100%;
  max-width: 1420px;
  background-color: #eaeaea;
  margin: 0 auto 45px auto;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* или просто удалите эту строку, так как flex-start — значение по умолчанию */
  gap: 131px; /* расстояние между карточками */
  margin: 0 auto;
  max-width: 1420px; /* ограничим ширину контейнера, чтобы помещалось ровно 3 карточки */
}
