.mainContainer {
  width: 100%;
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  h1 {
    font-size: 36px;
    margin-top: 72px;
    margin-bottom: 37px;
  }
}

.bannerContainer {
  width: 100%;
  margin: 0 auto;
  padding-top: 28px;
  box-sizing: border-box;
}

.bannerImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.bannerContainer img {
  width: 100%;
  height: auto;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  margin: 0 auto;
}

.productCard {
  flex: 0 0 calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);
  box-sizing: border-box;
}

.line {
  height: 1px;
  width: 100%;
  max-width: 1420px;
  background-color: #eaeaea;
  margin: 0 auto 45px auto;
}
